:global(.p-password).custom {
    display: block;
}

.custom :global(.p-input-icon) {
    display: flex;
}

.custom :global(.p-password-input) {
    font-size: 0.875rem;
    width: 100%;
    border: 1px solid;
    border-radius: .375rem;
}

.custom :global(.p-password-input:focus) {
    outline: 2px solid;
    box-shadow: none;
}